* {
  margin: 0;
  padding: 0;
}


 .login-div{
   margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 40vw;
 
  }
  
  .login-title{
    text-align: center;
  }
  
  .input-label{
    font-size: 1rem;
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  
  .input-field{
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: 0.3rem solid black;
    width: 100%;
    margin-bottom: .7rem;
    padding-block: .4rem;
  }
  
  .input-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  
  
  .login-btn{
    background-color: #000;
    color: #fff;
    font-size: 1.4rem;
    padding: .4rem 1.6rem;
    display: block;
    margin: .6rem auto;
    cursor: pointer;
    outline: none;
    border: none;
  } 