* {
  margin: 0;
  padding: 0;
}

body {
  margin-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.product-card {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  /* border: 1px solid black; */
  padding-block: 0.7rem;
}

.product-img {
  height: 100%;
  width: 40%;
}

.product-info {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-info span {
  font-size: 1rem;
  font-weight: 600;
  /* margin-top: .2rem; */
}

.product-info p {
  margin-top: 0;
  margin-bottom: 3px;
}

.card-btn {
  padding: 5px;
  cursor: pointer;
  margin-block: 0.3rem;
  padding-block: 0.7rem;
}

.buy-btn {
  width: 80%;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 1.2rem;
  border: none;
}

.wishlist-btn {
  width: 80%;
  background-color: #e1e1e1;
  font-size: 1rem;
  border: none;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.card-btn:hover {
  transform: scale(0.98);
  transition-duration: 0.7s;
}

@media screen and (max-width: 600px) {
  .product-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;

  }
  .product-img{
    width: 85%;

  }
  .product-info{
    width: 85%;
  }

.card-btn{
  width: 100%;
}
.product-info>:nth-child(1){
  margin-top: .3rem;
}
.product-info>:nth-child(9){
  display: none;
}
}
